#!/usr/bin/env ash
#
# Since: April, 2020
# Author: Bernd Braemer
# Description: Requirement file
#
# Copyright (c) 2021, Bernd Braemer.
#
# Licensed under the GNU Affero General Public License v3.0 AGPLv3 as shown https://www.gnu.org/licenses/agpl-3.0.html
#

psycopg2
django


